{{template "base/head.tmpl" . }}
<link rel="stylesheet" href="/css/server/home.css">
<main role="main">
  <div class="server_info server_status_{{.Server.Status.String}}">
    <h2>{{.Server.Name}}</h2>
    <div>
      <div>Software: {{.Server.ServerType.String}}</div>
      <div>Version: {{.Server.ServerVersion}}</div>
      {{if eq 1 .Server.Status }}
      <div>Player connected:</div>
      {{end}}
    </div>
  </div>
  <div class="server_control">
    <button>Start</button>
    <button>Stop</button>
    <button>Restart</button>
  </div>
  <div class="server_hardware">
    <div>IP Address:</div>
    <div>CPU Utilization:</div>
    <div>RAM:</div>
  </div>
</main>
{{template "base/footer.tmpl" . }}