<link rel="stylesheet" href="/css/server/navbar.css">
<div class="serverNavbar">
  <a href="/server/{{.Server.ServerID}}" class="itemServer">Server</a>
  <a href="/server/{{.Server.ServerID}}/console" class="itemServer">Console</a>
  <a href="/server/{{.Server.ServerID}}/settings" class="itemServer">Settings</a>
  <a href="/server/{{.Server.ServerID}}/players" class="itemServer">Player</a>
  <a href="/server/{{.Server.ServerID}}/software" class="itemServer">Server Software</a>
  <a href="/server/{{.Server.ServerID}}/files" class="itemServer">Files</a>
</div>
