{{template "base/head.tmpl" . }}
<div role="main">
  <div id="error500Page">
    <div>
      <h1>500 Internal server error</h1>
      {{if .ErrorMsg}}
      <div>
        {{.ErrorMsg}}
      </div>
      {{end}}
      {{if .ShowTrace}}
      <pre>{{.Trace}}</pre>
      {{end}}
    </div>
  </div>
</div>
{{template "base/footer.tmpl" . }}
