# Node module
node_modules/

## Ignore any locker files in root repository
/*-lock*

# Golang
/__debug_bin*

## Typescript
*.tsbuildinfo
web_src/**/*.d.ts
web_src/**/*.js

# Config file
*.ini

# Database
*.db