<nav id="navbar">
  <div class="navbar-left">
    <a class="item" id="navbar-logo" href="/">
			<img width="30" height="30" src="/img/logo_home.svg" aria-hidden="true">
		</a>
		{{if .Signed}}
		<div class="item">
      <a class="item" href="/servers">Servers</a>
    </div>
		{{end}}
  </div>
  <div class="navbar-right">
    {{if .Signed}}
    <div class="item navbarUser">
      <a href="/user" class="navUser">
        <span>{{.User.Username}}</span>
        <img src="/user/img" width="30" height="30" aria-hidden="true">
      </a>
    </div>
    {{else}}
    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    {{end}}
  </div>
</nav>
