<div>
  <div>
    <div>{{.Server.Name}}</div>
    <div>
      <h2>Server status</h2>
      <div>
        Stoped
      </div>
    </div>
  </div>
  <div>
    <legend>Software</legend>
    <div>
      <div>{{.Server.ServerType}}, Version: {{.Server.Version}}</div>
      <a href="/server/{{.Server.ServerID}}/software">Change</a>
    </div>
  </div>
</div>