<div class="serverNavbar">
  <a href="/server/{{.ServerID}}" class="itemServer">
    <span>Server</span>
  </a>
  <a href="/server/{{.ServerID}}/console" class="itemServer">
    <span>Console</span>
  </a>
  <a href="/server/{{.ServerID}}/options" class="itemServer">
    <span>Options</span>
  </a>
  <a href="/server/{{.ServerID}}/players" class="itemServer">
    <span>Player</span>
  </a>
  <a href="/server/{{.ServerID}}/software" class="itemServer">
    <span>Server Software</span>
  </a>
  <a href="/server/{{.ServerID}}/files" class="itemServer">
    <span>Files</span>
  </a>
  <a href="/server/{{.ServerID}}/world" class="itemServer">
    <span>Worlds</span>
  </a>
  <a href="/server/{{.ServerID}}/access" class="itemServer">
    <span>Access Maneger</span>
  </a>
</div>