<div class="serverNavbar">
  <a href="/server/{{.ServerID}}">
    <span>Server</span>
  </a>
  <a href="/server/{{.ServerID}}/console">
    <span>Console</span>
  </a>
  <a href="/server/{{.ServerID}}/options">
    <span>Options</span>
  </a>
  <a href="/server/{{.ServerID}}/players">
    <span>Player</span>
  </a>
  <a href="/server/{{.ServerID}}/software">
    <span>Server Software</span>
  </a>
  <a href="/server/{{.ServerID}}/files">
    <span>Files</span>
  </a>
  <a href="/server/{{.ServerID}}/world">
    <span>Worlds</span>
  </a>
  <a href="/server/{{.ServerID}}/access">
    <span>Access Maneger</span>
  </a>
</div>