{{template "base/head.tmpl" . }}
<div role="main">
  <div>
    <div id="loginarea">
      {{if .Error}}
      <div class="error_area">{{.Error}}</div>
      {{end}}
      <div>
        <h4>Login to Dashboard</h4>
        <form action="/login" method="post">
          <div>
            <input type="text" name="username" placeholder="Username">
          </div>
          <div>
            <input type="password" name="password" placeholder="Password">
          </div>
          <div>
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{template "base/footer.tmpl" . }}
