#controlBase {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 89%;
}

#controlBase .serverContent {
  width: 100%;
}

#controlBase .serverNavbar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

#controlBase .serverNavbar .itemServer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  #controlBase {
    flex-direction: column-reverse;
  }
  #controlBase .serverNavbar {
    height: 27px;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #controlBase .serverNavbar .itemServer {
    width: 100%;
  }
}
