<nav id="navbar">
  <div class="navbar-left">
    <a class="item" id="navbar-logo" href="/">
			<img width="30" height="30" src="/img/logo_home.svg" aria-hidden="true">
		</a>
		{{if .User}}
		<div class="item">
      <a class="item" href="/servers">Servers</a>
    </div>
		{{end}}
    {{if .Server}}
    <div class="item">
      <a href="/servers/{{.Server.ID}}">Server Home</a>
    </div>
    <div class="item">
      <a href="/servers/{{.Server.ID}}/software">Software</a>
    </div>
    {{end}}
  </div>
  <div class="navbar-right">
    {{if .User}}
    <div class="item">
      <a href="/servers/new">
        <span>Create new server</span>
      </a>
    </div>
    <div class="item navbarUser">
      <a href="/users/{{.User.ID}}" class="navUser">
        <span>{{.User.Username}}</span>
        <img src="/users/{{.User.ID}}/img" width="30" height="30" aria-hidden="true">
      </a>
    </div>
    {{else}}
    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    {{end}}
  </div>
</nav>
