{{template "base/head.tmpl" . }}
<link rel="stylesheet" href="/css/server/servers.css">
<div role="main">
  <div class="serverRoot">
    {{ $serverLen := len .Servers }}{{ if eq $serverLen 0 }}
    <div class="fist_server_new">
      <h1>Create fist server to maneger</h1>
    </div>
    {{else}}
    <div class="serverList">
      {{range $_, $Server := .Servers}}
        {{template "server/server_show.tmpl" $Server }}
      {{end}}
    </div>
    {{end}}
  </div>
</div>
{{template "base/footer.tmpl" . }}