{{template "base/head.tmpl" . }}
<link rel="stylesheet" href="/css/server/create.css">
<div role="main">
  <form method="post" target="/servers/new" id="serverCreate" class="create_server">
    <div class="selectServer">
      <h3>Select server software:</h3>
      <div class="selectServerServers">
        <div>
          <input type="radio" checked name="server" value="bedrock"/>
          <span>Bedrock</span>
        </div>
        <div>
          <input type="radio" name="server" value="pocketmine"/>
          <span>Pocketmine-PMMP</span>
        </div>
        <div>
          <input type="radio" name="server" value="java"/>
          <span>Java</span>
        </div>
        <div>
          <input type="radio" name="server" value="spigot"/>
          <span>Spigot</span>
        </div>
        <div>
          <input type="radio" name="server" value="purpur"/>
          <span>Purpur</span>
        </div>
        <div>
          <input type="radio" name="server" value="paper"/>
          <span>Paper</span>
        </div>
        <div>
          <input type="radio" name="server" value="folia"/>
          <span>Folia</span>
        </div>
        <div>
          <input type="radio" name="server" value="velocity"/>
          <span>Velocity</span>
        </div>
      </div>
    </div>
    <div>
      <legend>Server name</legend>
      <input type="text" name="servername" placeholder="Server name" min="8" minlength="8">
    </div>
    <div>
      <input type="submit" value="Create Server">
    </div>
  </form>
</div>
{{template "base/footer.tmpl" . }}
