<div class="show_server server_status_{{.Status.String}}">
  <a href="/servers/{{.ID}}">
    <div class="server_name">
      <h3>{{.Name}}</h3>
    </div>
    <div class="server_info">
      <div>Software: {{.ServerType.String}}</div>
      <div>Status: {{.Status.String}}</div>
      {{ range $_, $owner := .Owners }}
      {{if eq $owner.User.ID .User.ID}}
      <div>Permission: {{$owner.Permission.String}}</div>
      {{end}}
      {{end}}
    </div>
  </a>
</div>