{{template "base/head.tmpl" . }}
<link rel="stylesheet" href="/css/server/servers.css">
<div role="main">
  <div class="serverRoot">
    {{ $serverLen := len .Servers }}{{ if eq $serverLen 0 }}
    <div>
      <a href="/servers/new">
        <span>Create fist server</span>
      </a>
    </div>
    {{else}}
    <div class="serverNew">
      <a href="/servers/new">
        <span>Create new Server</span>
      </a>
    </div>
    <div class="serverList">
      {{ range $_, $Server := .Servers }}
      <a href="/servers/{{$Server.ID}}" class="show_server">
        <div class="server_name">
          <h3>{{$Server.Name}}</h3>
        </div>
        <div class="server_info">
          <div>Software: {{$Server.ServerType.String}}</div>
          {{ range $_, $owner := $Server.Owners }}
            {{if eq $owner.User.ID .User.ID}}
              <div>Permission: {{$owner.Permission.String}}</div>
            {{end}}
          {{end}}
        </div>
      </a>
      {{end}}
    </div>
    {{end}}
  </div>
</div>
{{template "base/footer.tmpl" . }}