{{template "base/head.tmpl" . }}
<div id="home_welcome">
  <div>
    <span class="titleUpper">Minecraft Server dashboard</s>
  </div>
  <div>
    <div>Maneger o minecraft server directly from web and more functions</div>
  </div>
</div>
{{template "base/footer.tmpl" . }}